.App {
  text-align: center;
  
}

.container {
background: #EF476F;
}

.header {
  background: #EF476F;
  justify-content: center;
}

.navbar.navbar-expand-lg.navbar-light a {
  color: #FCFCFC;
}


.buttons {
  margin: 10px;
}

.btn.btn-primary {
  height: 50px;
  width: 100px;
  margin: 20px;
  background-color: #FFD166;
  border: #26547C;
}

.card {
  width: 500px;
  height: 150px;
}

.card-body {
  background: #06D6A0;
}

.card-title{
  color: #FCFCFC;
}

.card-subtitle {
  color: #FCFCFC;
}

.footer {
  background: #EF476F;
  color: #FCFCFC;
  font-size: 10px;
  height: 50px;
  padding: 10px;
  justify-content: left;
  align-items:center;
  align-content: center;
}
