.App {
  text-align: center;
  
}

.container {
background: #EF476F;
}

.header {
  background: #EF476F;
}


.buttons {
  margin: 10px;
}

.btn.btn-primary {
  height: 50px;
  width: 100px;
  margin: 20px;
  background-color: #FFD166;
  border: #26547C;
}

.card {
  width: 500px;
  height: 150px;
}

.card-body {
  background: #06D6A0;
}

.card-title{
  color: #FCFCFC;
}

.card-subtitle {
  color: #FCFCFC;
}

.footer {
  background: #EF476F;
  color: #FCFCFC;
  font-size: 10px;
  height: 50px;
  padding: 10px;
  justify-content: left;
  align-items:center;
  align-content: center;
}

/* .icon-links {
  justify-content: right;
} */

/* .fa-heart {
  justify-content: left;
} */

.icon {
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.response-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
